name: colab

on: [push]

jobs:
  build:
    runs-on: ubuntu-18.04 # linux required if you want to use docker
    steps:
    - uses: actions/checkout@v2
    - name: Installing v2ray
      run: python3 misc.py
    - name: Download Ngrok
      run: | 
        curl -L -o ngrok.zip https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip 
        unzip ngrok.zip
    - name: Auth
      run: ./ngrok authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Create Tunnel, Now visit https://dashboard.ngrok.com/status/tunnels
      run: |
        ./ngrok http -region=ap 9910 &
        echo root:newpass | sudo chpasswd
        df -h
        mkdir content
    - name: colab
      run: |
        docker run \
        -p 8081:8081 \
        -v $PWD/content:/content \
        -v $HOME/.cache/torch:/root/.cache/torch \
        -v "$PWD":/opt/colab \
        sorokine/docker-colab-local:latest
        
      
      
