name: CI

on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        tunnel:
          - ${{ secrets.TUNNEL }}
    name: ${{ matrix.tunnel }}
    steps:
    - name: Download Ngrok and cloudflared
      run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
    - run: Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/download/2021.2.5/cloudflared-windows-amd64.exe -OutFile cloudflared.exe
    - name: Extract Ngrok Archive
      run: Expand-Archive ngrok.zip
    - name: Auth
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    - name: Enable TS
      run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
    - run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
    - run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "Area69Lab" -Force)
    - name: Create Tunnel, Now visit https://dashboard.ngrok.com/status/tunnels
      if: startsWith(matrix.tunnel, "ngrok")
      run: .\ngrok\ngrok.exe tcp -region=${{ secrets.REGION }} 3389
    - name: Cloudflard Test
      if: startsWith(matrix.tunnel, "cloudflared")
      run: .\cloudflared.exe tunnel --url tcp://0.0.0.0:3389 --logfile cloudflared.log
      
      
    
